include README.md
include LICENSE
recursive-include lms-enrollment-summary-api/enrollment_summary *.py
recursive-include lms-enrollment-summary-api/enrollment_summary *.html
recursive-include lms-enrollment-summary-api/enrollment_summary *.js
recursive-include lms-enrollment-summary-api/enrollment_summary *.css
recursive-exclude lms-enrollment-summary-api/tests *
recursive-exclude lms-enrollment-summary-api/enrollment_summary *.pyc
recursive-exclude lms-enrollment-summary-api/enrollment_summary *.pyo